<h1>New work</h1>

<% form_for(@work) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :task_id %><br />
    <%= f.text_field :task_id %>
  </p>
  <p>
    <%= f.label :owner_id %><br />
    <%= f.text_field :owner_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', works_path %>
