<div class="action">
  <% form_tag(ticket_change_path(@ticket), :method => :put) do -%>
  <h2>Update and comment the ticket</h2>
  <%= render :partial => 'implementer_fields' if @ticket.state == 'assigned' %>
  <% if @ticket.assignee.nil? or @ticket.assignee == @current_user %>
    <p>
      <%= label_tag :ticket_action, 'action' %>
      <%= select_tag 'ticket_action', options_for_select(@ticket.aasm_events_for_current_state) %>
      <span id="who_is_responsible">
        &nbsp;
        <%= label_tag :ticket_assignee_id, "who's responsible" %>
        <%= collection_select(:ticket, :assignee_id, @users, :id, :name) %>
      </span>
    </p>
  <% end %>
  <p>
    <%= label_tag 'change_comment', 'comment:' %><br/>
    <%= text_area_tag 'change[comment]', @change.comment, :id => 'change_comment', :size => '80x5' %>
  </p>
  <%= render :partial => '/common/update_or_cancel' %>
  <% end -%>
</div>

<%= observe_field :ticket_action, :function => "hide_responsible_for_action(value)" %>

<% javascript_tag do -%>
  document.observe("dom:loaded", function() {
    hide_responsible_for_action($('ticket_action').value);
  });

  function hide_responsible_for_action(action) {
    if (['cancel', 'accept', 'close'].include(action)) {
      $('who_is_responsible').hide();
    } else {
      $('who_is_responsible').show();
    }
  };
<% end -%>
