<div class="change">
  <p class="author">Created by <%= change.owner.name %>, <%= change.created_at.to_s(:short) %></p>
  <% if change.assignee_changed? && change.assignee_is != change.assignee_was %>
    <div class="note">&#x2192; Assigned user changed from <b><%= change.assignee_was.try(:name) %></b> to <b><%= change.assignee_is.name %></b></div>
  <% end %>
  <% if change.state_changed? && change.state_was != change.state_is %>
    <div class="note">&#x2192; State chaged from <b><%= change.state_was %></b> to <b><%= change.state_is %></b></div>
  <% end %>
  <div class="comment"><%= change.comment %></div>
</div>
