- form_for(ticket) do |f|
  = f.error_messages
  %dl.ticket
    - if ticket.new_record?
      %dt= f.label :title
      %dd= f.text_field :title
      %dt= f.label :description
      %dd= f.text_area :description
    - if ticket.state == 'assigned'
      %dt= f.label :impact
      %dd= f.text_area :impact
      %dt= f.label :rollback_process
      %dd= f.text_area :rollback_process
    %dt= f.label :comment
    %dd= text_area_tag 'ticket[comment]', '', :id => 'ticket_comment'
    - if ticket.changeable_by?(current_user)
      %dt= f.label :event, 'action'
      %dd= f.select :event, ticket.aasm_events_for_current_state
      %dt.who_is_responsible= f.label :assignee_id, "who's responsible"
      %dd.who_is_responsible= f.select :assignee_id, User.all.collect {|user| [user.name, user.id]}
  = render :partial => submit_partial
  = observe_field :ticket_event, :function => "hide_responsible_for_action(value)"

  :javascript
    document.observe("dom:loaded", function() {
     hide_responsible_for_action($('ticket_event').value);
    });
    function hide_responsible_for_action(action) {
      if (['cancel', 'accept', 'close'].include(action)) {
        $$('.who_is_responsible').each (function(el) {el.hide();})
      } else {
        $$('.who_is_responsible').each (function(el) {el.show();})
      }
    };
