<div class="ticket">
  <div class="info">
    <p class="state">State: <b class="state"><%= ticket.state %></b></p>
    <p class="state">Assigned to: <b><%= ticket.assignee.try(:name) %></b></p>
  </div>
  <h2><%= ticket.title %></h2>
  <p class="author">Created by <%= ticket.owner.name %>, <%= ticket.created_at.to_s(:short) %></p>
</div>
