.ticket
  %table.info
    %tr
      %td Title
      %td.title= ticket.title
    %tr
      %td Description
      %td.description= simple_format(ticket.description)
    - if (!ticket.impact.blank? && !ticket.rollback_process.blank?)
      %tr
        %td Impact:
        %td.impact= simple_format(ticket.impact)
      %tr
        %td Rollback process:
        %td.rollback_process= simple_format(ticket.rollback_process)
    %tr
      %td State:
      %td.state= ticket.state
    %tr
      %td Assignee:
      %td.assignee= ticket.assignee.name
    %tr
      %td Owner:
      %td.owner= ticket.owner.name
    %tr
      %td Created at
      %td.created_at= ticket.created_at.to_s(:long)
